In [25]:
import pandas as pd

hydro_url = "http://danepubliczne.imgw.pl/api/data/hydro2/"
hydro_stat = pd.read_json(hydro_url)
hydro_stat = hydro_stat.iloc[:,0:4]

meteo_url = "http://danepubliczne.imgw.pl/api/data/meteo/"
meteo_stat = pd.read_json(meteo_url)
meteo_stat = meteo_stat.iloc[:,0:4]

     kod_stacji  nazwa_stacji        lon        lat
0     252210290      RYBIENKO  21.429167  52.577778
1     351230497       WŁODAWA  23.529444  51.553333
2     352220385       SIEDLCE  22.244722  52.181111
3     250240010      STRZYŻÓW  24.035556  50.840000
4     352230399      TERESPOL  23.621944  52.078611
..          ...           ...        ...        ...
754   250190850         TROKS  19.635833  50.303889
755   252140070  BOLESZKOWICE  14.566667  52.726944
756   252190240        TRĘBKI  19.540556  52.320278
757   251190150    DOBRYSZYCE  19.428333  51.138889
758   253200140      WIELBARK  20.937222  53.406111

[759 rows x 4 columns]